.resume-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: auto;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.resume-paper {
  width: 80vw;
  max-height: 100%;
  height: 100vh;
  overflow: auto;
  outline: none;
  padding: 15px;
  background-color: black;
  border-radius: 3px;
  box-shadow: 0 0 400px rgba(0, 0, 0, 0.5);
}


.resume-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}