.resume-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-paper {
  position: absolute;
  width: 80vw;
  height: 80vh;
  overflow: auto;
  outline: none;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.resume-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.resume-close {
  cursor: pointer;
}