.resume-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: darkgoldenrod;   /* This is a temp color for the modal */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: auto;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.resume-paper {
  position: absolute;
  width: 70vw;
  height: 100%;
  overflow: auto;
  outline: none;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 400px rgba(0, 0, 0, 0.5);
}


.resume-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}