body {
    font-family: Arial, sans-serif!important;
    font-size: 16px!important;
    line-height: 1.5!important;
    margin: 0;
    padding: 0;
    background-color: darkcyan!important;
  }
  
  h1, h2, h3 {
    font-weight: bold!important;
  }
  
  img {
    max-width: 100%!important;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    color: #333;
    margin-right: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  .form-group textarea {
    resize: none;
  }
  
  .form-group button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  