@font-face {
  font-family: PoppinsBold;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsExtraLight;
  src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: PoppinsRegular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

body {
  font-family: PoppinsRegular;
  line-height: 1.5 !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: darkslategray;
  overflow-x: hidden !important;
}

h1,
h2,
h3 {
  font-weight: bold !important;
}