img {
  max-width: 100%;
  cursor: pointer;
}

#home {
  margin-top: 40px;
  margin-bottom: 20px;
}


.social-icons-container {
  overflow-x: auto;
  max-width: -400px;
  display: flex;
  justify-content: flex-end;
}

.name-style{
  font-family: PoppinsExtraLight;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .name-style{
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .name-style{
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .name-style{
    font-size: 2rem;
  }
}