img {
  max-width: 100%;
  cursor: pointer;
}

#home {
  margin-top: 70px;
}


.social-icons-container {
  overflow-x: hidden;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  color: #333;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #ffffff;
  cursor: pointer;
}
