#projects .projects-style {
  margin-top: 40px;
  margin-bottom: 3rem;
  text-align: center;
  color: #fff;
}

.projects-style{
  font-family: PoppinsExtraLight;
  font-size: 4rem;
  color: #fff;
}

@media (max-width: 1024px) {
  .projects-style{
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .projects-style{
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .projects-style{
    font-size: 2rem;
  }
}

.card-wrapper {
  margin-bottom: 30px;
}



.card-img-top {
  height: 300px;
  width: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.card-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  color: #666;
}

.btn {
  background-color: #666 !important;
  border: none !important;
  font-size: 14px !important;
  font-weight: bold !important;
  transition: all 0.2s ease-in-out !important;
}

.btn:hover {
  background-color: darkslategray !important;
  transform: translateY(-2px) !important;
}


@media (min-width: 992px) {
  .card {
    min-height: 600px;
  }
}